<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<ngb-carousel>
  <ng-template ngbSlide>
    <img  class="d-block w-100 img-slider-height" src="../../assets/imagen1.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img  class="d-block w-100 img-slider-height" src="../../assets/segundaImagen.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img  class="d-block w-100 img-slider-height" src="../../assets/terceraImagen.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
</ngb-carousel>
<div class="row">
  <div class="col-sm-12 titulo">
    <h1>Servicios</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 texto">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel dui vitae enim posuere malesuada eu iaculis eros. Phasellus suscipit dolor at odio mattis lacinia. Curabitur neque ipsum, volutpat porta quam sit amet, pharetra feugiat elit. Vestibulum id leo quis est auctor tempor. Phasellus id consectetur ex. Morbi ac fringilla ipsum. Sed mi eros, facilisis ut venenatis sed, maximus non turpis. Nullam dapibus ex eget dolor sagittis condimentum. Maecenas ut urna et massa tempus dapibus ut vel metus. Vestibulum molestie justo eget eleifend tincidunt. Fusce gravida volutpat neque, at bibendum arcu laoreet nec. Maecenas sagittis eros justo, a maximus turpis tempus et. Morbi molestie arcu nec dolor ullamcorper, eu sagittis odio dictum. Cras eu felis eros. Nullam vitae condimentum neque, a commodo mi.

    In quis ipsum quis turpis consectetur imperdiet at eu felis. Suspendisse eget sollicitudin orci. Phasellus egestas, metus sit amet consequat suscipit, purus diam porttitor nulla, eget sagittis urna est in odio. Donec et feugiat magna. Aliquam laoreet, nunc vitae fringilla elementum, enim eros accumsan ex, vel vulputate ligula augue ac mi. Sed faucibus lacinia turpis molestie consequat. Cras sollicitudin tellus et quam maximus gravida. Nunc nisl metus, scelerisque sed tortor et, mattis elementum felis. Vestibulum sagittis arcu laoreet lorem scelerisque interdum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer a hendrerit velit, vitae lobortis tellus. Nulla faucibus ante eu consequat molestie. Suspendisse vestibulum eget diam quis gravida. Morbi sodales pellentesque felis, eu dapibus neque venenatis
  </div>
</div>
<div class="row">
  <div class="col-sm-12 titulo">
    <h1>Catalogo</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/celular.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/celular.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/celular.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Gran Prime</h5>
      <p class="card-text">Liberacion para todas las compañias con gsm</p>
      <a href="#" class="btn btn-primary">Mas informacion</a>
    </div>
  </div>
  </div>
</div>
