.img-slider-height {
  height: 500px;
}
.titulo {
  text-align: center;
  margin-top: 25px;
}
.texto {
  background: gray;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-menu {
  position: fixed;
  z-index: 300;
  width: 100%;
}
